language: bash

sudo: required

before_deploy:
  - sudo apt-get update && sudo apt-get install openssl
  - wget https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip
  - sudo unzip terraform_0.11.7_linux_amd64.zip && sudo mv terraform /usr/local/bin
  - terraform --version
  - sudo apt-get install awscli
  - aws --version

jobs:
  include:
    - stage: deploy
      script: ./deploy.sh
